<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Bienvenido</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo.png">

    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <link href="/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
    <form class="form-signin" action="/login" method="POST">
        <img class="mb-4" src="/images/logo2.png" alt="" width="260" height="130">
        <h1 class="h3 mb-3 font-weight-normal">Inicia sesión</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Email address" autofocus required>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-" type="submit">Sign in</button>
        <div>
            <br>
            <a href="/register"> Solicita tu acceso.</a>
        </div>

        <p class="mt-5 mb-3 text-muted">&copy;2019-2020</p>
    </form>
</body>
</html>
