<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/reporte.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/logo.png">

  <title>Inicio</title>
</head>
<body>
  <!-- inicio del navbar -->

  <nav class="navbar navbar-expand-md ">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Mapa">Mapa en Vivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Ticket">Crear Ticket</a>
        </li>
        <li class="nav-item">
                  <a class="nav-link" href="/Ticket">Desc. Materiales</a>
              </li>
        <% if(user.puesto.includes("Director")) {%>
        <li class="nav-item active">
          <a class="nav-link" href="/Reporte">Reporte de Negocio</a>
        </li>
        <% } %>

      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="/"><img src="images/logo2.png" height="50" width="150"></a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Salir</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- fin del navbar -->



  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 >Reporte de Negocio</h3>
        <div id="informacion_completa" hidden><%= JSON.stringify(resultado) %></div>
        <br>

        <div class="table-responsive text-left">
          <table class="table table-hover" id="tabla_reservas">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Cliente</th>
                <th scope="col">Última Supervisión</th>
                <th scope="col">Estatus</th>
                <th scope="col">Inventario</th>
                <th scope="col">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Jugos del Valle</td>
                <td>19/03/2019</td>
                <td>Ok</td>
                <td>$2'000,000.00</td>
                <td><a class="btn btn-success btn-" onclick="AbrirDetalle(0); return false" href="#" role="button">Detalle</a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Walmart</td>
                <td>19/03/2019</td>
                <td>Ok</td>
                <td>$1'800,000.00</td>
                <td><a class="btn btn-success btn-" onclick="AbrirDetalle(1); return false" href="#" role="button">Detalle</a></td>
              </tr>
              <tr>
                <td>3</td>  
                <td>OMNIBUS DE MÉXICO</td>
                <td>19/03/2019</td>
                <td>Revisión Pendiente</td>
                <td>$800,000.00</td>
                <td><a class="btn btn-success btn-" onclick="AbrirDetalle(2); return false" href="#" role="button">Detalle</a></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <!-- modal de consulta de detalle-->

  <div class="modal fade" id="modalConsultaDetalle" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tituloModal">Detalle Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center" id="MensajeModalCreacionSpot"> 
            <p><h4 id="NombreCliente"></h4></p>
            <p><h5 id="Direccion"></h5></p>
            <iframe  id="Gmap" width="250" height="200" frameborder="0" style="border:0" src="" allowfullscreen>
            </iframe><br>
            <p><h5 id="NombreContacto"></h5></p>
            <p><h5 id="Telefono"></h5></p>

            <div class="table-responsive text-left">
              <table class="table table-hover" id="tabla_reservas">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Inventario</th>
                    <th scope="col">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Operación Inicial</td>
                    <td>$3,000,000.00</td>
                    <td>15 Tons</td>
                    <td>24/03/2018</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Pago Ordinario</td>
                    <td>$500,000.00</td>
                    <td>14 Tons</td>
                    <td>24/06/2018</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Pago Ordinario</td>
                    <td>$500,000.00</td>
                    <td>13 Tons</td>
                    <td>01/01/2019</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <h5>Total Restante: $2,000,000</h5>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success btn-" onclick="CrearSolicitud(); return false" href="#" role="button">Generar Solicitud</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal de consulta de detalle-->

  <div class="modal fade" id="modalCrearSolicitud" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tituloModal">Detalle Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="text-center" id="MensajeModalCreacionSpot"> 
              <p><h4>Cliente: </h4></p>
              <p><h4 type="text" disabled="" id="NombreCliente_Sol"></h4></p>
              <p><h4>Supervisor: </h4></p>
              <select class="form-control" id="Supervisor_Sol">
                <option selected>fernando.sanchez@.com</option>
                <option>carlos.mendez@.com</option>
              </select>
              <p><h4>Bodega: </h4></p>
              <select class="form-control" id="Bodega_Sol">
                <option selected>Bodega 1</option>
                <option>Bodega 2</option>
                <option>Bodega 3</option>
              </select>
            </div>


            <div class="modal-footer">
              <a class="btn btn-success btn-" onclick="AceptarSolicitud(); return false" href="#" role="button">Generar Solicitud</a>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <script type="text/javascript" src="js/reporte.js"></script>
    </body>
    </html>

      <script>
    if (screen && screen.width > 480) {
      document.write("<script src='/js/webchat_orig' channelId='4763f012-ac91-4214-8881-09c9f0fc9994' token='' id='cai-webchat'><\/script>");
    }
  </script>